<h1>Creador de Color</h1>
<br>
<div class="sliders">
  <input type="text" class="dial" id="red"
         data-min="0" data-max="255" data-fgColor="rgb(255, 0, 0)"
         value="0">
  <input type="text" class="dial" id="green"
         data-min="0" data-max="255" data-fgColor="rgb(0, 255, 0)"
         value="0">
  <input type="text" class="dial" id="blue"
         data-min="0" data-max="255" data-fgColor="rgb(0, 0, 255)"
         value="0">
</div>
<br>
<h2 id="rgb"></h2>
<div id="color-shower"></div>
